@using FootballAIGameWeb.Models
@model IEnumerable<FootballAIGameWeb.Models.Tournament>
@{
    ViewBag.Title = "Current Tournaments";
}

<h2 class="text-center">
    Current Tournaments
</h2>

<div style="margin-bottom: 2em">
    <a href="Create" class="btn btn-success">New Tournament</a>
    <a href="ManageRecurring" class="btn btn-default">Manage Recurring Tournaments</a>
</div>


<table id="match-table" class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Start Time</th>
            <th>Name</th>
            <th>Numer of Signed Players</th>
            <th>Maximum Number of Players</th>
            <th>State</th>
            <th>Admin Action</th>
            <th>Details</th>
        </tr>
    </thead>
    @foreach (var tournament in Model)
    {
        <tr>
            <td>@tournament.StartTime</td>
            <td>@tournament.Name</td>
            <td>@tournament.Players.Count</td>
            <td>@tournament.MaximumNumberOfPlayers</td>
            <td>@(tournament.TournamentState == TournamentState.Running ? "Running" : "Unstarted")</td>
            @if (tournament.TournamentState == TournamentState.Unstarted)
            {
                <td class="text-center"><a class="delete" data-tournament-id="@tournament.Id" role="button">Delete</a></td>
            }
            <td><a href="/Tournaments/Details/@tournament.Id">Details</a></td>
        </tr>
    }
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#match-table").DataTable({
                "order": [[0, "asc"]] // oldest first (the first that will start)
            });

            $(".delete").on("click", function () {
                var row = $(this).closest("tr");
                var tournamentId = $(this).attr("data-tournament-id");
                $.ajax({
                    url: "/api/game/deletetournament/" + tournamentId,
                    method: "delete",
                    success: function () {
                        toastr.success("The tournament was deleted.");
                        row.remove();
                    },
                    error: function (xhr) {
                        var json = JSON.parse(xhr.responseText);
                        toastr.error(json.message);
                    }
                });
            });

        });
    </script>
}
