@using FootballAIGameWeb.Models
@model IEnumerable<RecurringTournament>
@{
    ViewBag.Title = "Recurring Tournaments";
}

<h2 class="text-center">
    Recurring Tournaments
</h2>

<div style="margin-bottom: 2em">
    <a href="CreateRecurring" class="btn btn-success">New Recurring Tournament</a>
    <a href="Current" class="btn btn-default">Current Tournaments</a>
</div>


<table id="match-table" class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>First Start Time</th>
            <th>Name</th>
            <th>Reccurence Interval (minutes)</th>
            <th>Number of Present Tournaments</th>
            <th>Minimum Number of Players</th>
            <th>Maximum Number of Players</th>
            <th>Admin Action</th>
        </tr>
    </thead>
    @foreach (var recTournament in Model)
    {
        <tr>
            <td>@recTournament.StartTime</td>
            <td>@recTournament.Name</td>
            <td>@recTournament.RecurrenceInterval</td>
            <td>@recTournament.NumberOfPresentTournaments</td>
            <td>@recTournament.MinimumNumberOfPlayers</td>
            <td>@recTournament.MaximumNumberOfPlayers</td>
            <td class="text-center"><a class="delete" data-tournament-id="@recTournament.Id" role="button">Delete</a></td>
        </tr>
    }
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#match-table").DataTable({
                "order": [[0, "asc"]] // oldest first (the first that will start)
            });

            $(".delete").on("click", function () {
                var row = $(this).closest("tr");
                var tournamentId = $(this).attr("data-tournament-id");

                bootbox.confirm({
                    message: "Do you want to delete all unstarted tournaments from this recurring tournament?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        $.ajax({
                            url: "/api/game/deleterecurringtournament/" + tournamentId + "/" + result,
                            method: "delete",
                            success: function () {
                                toastr.success("The recurring tournament was deleted.");
                                row.remove();
                            },
                            error: function (xhr) {
                                var json = JSON.parse(xhr.responseText);
                                toastr.error(json.message);
                            }
                        });
                    }
                });
            });
        });
    </script>
}
