@using FootballAIGame.Web.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @{
                @* TODO might be changed *@
                var firstNavLinkText = Request.IsAuthenticated ? "Football AI Competition" : "Football AI Competition";
            }
            @Html.ActionLink(firstNavLinkText, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Players", "Index", "Players")</li>
                <li>@Html.ActionLink("Matches", "Index", "Matches")</li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Tournaments
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Current", "Current", "Tournaments")</li>
                        <li>@Html.ActionLink("Finished", "Index", "Tournaments")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        About
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("How to play", "HowToPlay", "About")</li>
                        <li>@Html.ActionLink("About", "Index", "About")</li>
                    </ul>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>