@model FootballAIGameWeb.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<br /><br />
<div class="container col-md-offset-0 col-md-5 table-responsive">
    <table class="table table-hover">
        <caption>
            <h3 class="text-center">Current Tournaments</h3>
        </caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Players</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tournament in Model.NextTournaments)
        {
            <tr class="clickable-row" data-href="/Tournaments/Details/@tournament.Id">
                <td>@tournament.Name</td>
                <td>@tournament.StartTime</td>
                <td>@tournament.Players.Count() / @tournament.MaximumNumberOfPlayers</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="container col-md-offset-1 col-md-5 table-responsive">
    <table class="table table-hover">
        <caption>
            <h3 class="text-center">Last Matches</h3>
        </caption>
        <thead>
            <tr>
                <th>Time</th>
                <th>Player 1</th>
                <th>Player 2</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model.LastMatches)
            {
                <tr class="clickable-row" data-href="/Matches/Details/@match.Id">
                    <td>@match.Time</td>
                    @if (match.Winner == 1)
                {
                        <td class="success">@match.Player1.Name</td>
                        <td>@match.Player2.Name</td>
                    }
                    else if (match.Winner == 2)
                    {
                        <td>@match.Player1.Name</td>
                        <td class="success">@match.Player2.Name</td>
                    }
                    else // draw
                    {
                        <td>@match.Player1.Name</td>
                        <td>@match.Player2.Name</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
