@model FootballAIGameWeb.ViewModels.Home.PlayerHomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container col-md-3 text-center table-responsive" style="margin-top: 2em">
    <h3>Active AIs</h3>
    <table class="table table-hover">
        <thead><tr><th class="text-center">Select AI to play with.</th></tr></thead>
        <tbody>
        @foreach (var ai in Model.ActiveAIs)
        {
            if (ai == Model.Player.ActiveAi)
            {
                <tr class="selectable-row" data-selected><td>@ai</td></tr>
            }
            else
            {
                <tr class="selectable-row"><td>@ai</td></tr>
            }
        }
        </tbody>
    </table>
</div>

<div class="container col-md-2 col-md-offset-1" style="margin-top: 8em; text-align: center">
    <button class="btn btn-default" style="white-space: normal">Match against random opponent</button>
    <button class="btn btn-default" style="white-space: normal">Challenge Player</button>
</div>

<div class="container col-md-5 col-md-offset-1 text-center table-responsive" style="margin-top: 2em"> <!-- old offset = 4 -->
    <h3>Last Matches</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Result</th>
            <th class="text-center">AI</th>
            <th>Opponent</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var match in Model.LastMatches)
        {
            var playerNumber = match.Player1 == Model.Player ? 1 : 2;
            var playerAi = playerNumber == 1 ? match.Player1Ai : match.Player2Ai;
            var otherPlayer = playerNumber == 1 ? match.Player2 : match.Player1;

            if (match.Winner == 0) // draw
            {
                <tr class="clickable-row" data-href="/Matches/@match.Id">
                    <td>Draw</td>
                    <td>@playerAi</td>
                    <td>@otherPlayer.Name</td>
                </tr>

            }
            else if (match.Winner == playerNumber)
            {
                <tr class="success clickable-row" data-href="/Matches/@match.Id">
                    <td>Win</td>
                    <td>@playerAi</td>
                    <td>@otherPlayer.Name</td>
                </tr>
            }
            else
            {
                <tr class="danger clickable-row" data-href="/Matches/@match.Id">
                    <td>Loose</td>
                    <td>@playerAi</td>
                    <td>@otherPlayer.Name</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
