@model FootballAIGame.Web.ViewModels.Matches.MatchDetailsViewModel

@{
    ViewBag.Title = "Match Details";
}

<h2 class="text-center">
    <a href="/players/details/@Model.Match.Player1.Name">@Model.Match.Player1.Name</a> vs
    <a href="/players/details/@Model.Match.Player2.Name">@Model.Match.Player2.Name</a>
</h2>

<div class="container col-sm-4 text-center">
    <h3>Goals</h3>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th class="text-center">Time</th>
                <th class="text-center">Team</th>
                <th class="text-center">Player</th>
            </tr>
        </thead>
        <tbody>
            @{
                var goals = Model.Match.Goals.Split('|');
                foreach (var goal in goals)
                {
                    var tokens = goal.Split(';');
                    if (tokens.Length < 3)
                    {
                        continue;
                    }
                    <tr>
                        <td>@tokens[0]</td>
                        <td>@tokens[1]</td>
                        <td>@tokens[2]</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="container col-sm-4 text-center">
    <h3>@Model.Match.Score</h3>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th class="text-center">@Model.Match.Player1.Name</th>
                <th></th>
                <th class="text-center">@Model.Match.Player2.Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Match.Shots1</td>
                <td>Shots</td>
                <td>@Model.Match.Shots2</td>
            </tr>
            <tr>
                <td>@Model.Match.ShotsOnTarget1</td>
                <td>Shots on target</td>
                <td>@Model.Match.ShotsOnTarget2</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-4 text-center">

    @if (Model.LoggedPlayerActionLatency != null)
    {
        <div>
            <p>
                Your average action latency in the match: @Model.LoggedPlayerActionLatency ms.
            </p>
            <p style="font-size: 0.8em">
                The maximum allowed action latency is 600ms.
            </p>
        </div>
    }

    <div @if (Model.LoggedPlayerActionLatency == null)
         {
             <text>style = "margin-top: 6em")</text>
         }
         else
         {
             <text>style = "margin-top: 2em")</text>
         }
         >
        <a href="/matches/watch/@Model.Match.Id" class="btn btn-primary" style="margin-top: 1em">Watch the match</a>
    </div>

    <div style="margin-top: 2em">
        <a href="/matches/errors/@Model.Match.Id" class="btn btn-primary">Error log</a>
    </div>
</div>
