@model IEnumerable<FootballAIGame.DbModel.Models.Match>
@{
    ViewBag.Title = "Matches";
}

<h2 class="text-center">
    Matches
</h2>

<table id="match-table" class="table table-responsive table-hover">
    <thead>
    <tr>
        <th>Date</th>
        <th>Player1</th>
        <th>Player2</th>
        <th>Score</th>
        <th>Details</th>
    </tr>
    </thead>
    @foreach (var match in Model)
    {
        <tr>
            <td>@match.Time</td>
            <td>@Html.ActionLink(match.Player1.Name, "Details", new { Controller = "Players", id = match.Player1.Name })</td>
            <td>@Html.ActionLink(match.Player2.Name, "Details", new { Controller = "Players", id = match.Player2.Name })</td>
            <td>@match.Score</td>
            <td>@Html.ActionLink("Details", "Details", new {Controller = "Matches", id = match.Id})</td>
        </tr>
    }
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#match-table").DataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>
}
