@model FootballAIGame.DbModel.Models.RecurringTournament
@{
    ViewBag.Title = "Create Recurring Tournament";
}

<h2>
    Recurring Tournament
</h2>

@using (Html.BeginForm("CreateRecurring", "Tournaments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new recurring tournament.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(t => t.StartTime, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.StartTime, new { @class = "form-control datetimepicker" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.RecurrenceInterval, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.RecurrenceInterval, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.NumberOfPresentTournaments, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.NumberOfPresentTournaments, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.MinimumNumberOfPlayers, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.MinimumNumberOfPlayers, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(t => t.MaximumNumberOfPlayers, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(t => t.MaximumNumberOfPlayers, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function() {
            $('.datetimepicker').datetimepicker({
                minDate: moment()
            });

        });
    </script>
}